<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <select name="" id="" onChange="alert('다른걸로 선택했어?')">
        <option value="0">동물구분</option>
        <%for(i=0; i < categoryArray.length; i++){%>
        <%var category = categoryArray[i]%>
            <option value="<%=category.category_id%>"><%=category.category_name%>
            </option>
        <%}%>
    </select>

    <select name="" id="">
        <option value="0">동물종류</option>
    </select>
</body>
</html>